.coaches {
  padding-bottom: 120px;

  @include vp-1199 {
    padding-bottom: 100px;
  }

  @include vp-767 {
    padding-bottom: 70px;
  }
}

.coaches__title {
  margin: 0;
  margin-bottom: 48px;

  font-family: $ff-bebas;
  font-weight: 400;
  font-size: 49px;
  line-height: 49px;

  @include vp-1199 {
    margin-bottom: 40px;
    text-align: center;
    font-size: 42px;
    line-height: 42px;
  }

  @include vp-767 {
    font-size: 32px;
    line-height: 32px;
  }
}

.coaches__container {
  position: relative;
  margin: 0 auto;

  @include vp-1199 {
    width: 566px;
  }

  @include vp-767 {
    width: 226px;
  }
}

.coaches__wrapper {
  overflow: hidden;
  position: relative;
}

.coaches__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.coaches__control {
  position: absolute;
  top: 50%;

  margin: 0;
  padding: 0;
  width: 50px;
  height: 50px;

  color: $color-default-black;
  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;

  transform: translateY(-50%);
  transition: transform $trans-default;
  cursor: pointer;

  &::after {
    font-size: 35px;

    @include vp-767 {
      font-size: 20px;
    }
  }

  &--prev {
    left: -70px;

    @include vp-767 {
      left: -50px;
    }
  }

  &--next {
    right: -70px;

    @include vp-767 {
      right: -50px;
    }
  }

  @media (hover: hover), screen and (min-width: 0\0) {
    &:hover,
    &:focus {
      transform: translateY(-50%) scale(1.2);
    }
  }

  @include vp-767 {
    background-size: 10px 19px;
  }
}
