.coach {
  position: relative;
  cursor: pointer;

  @media (max-width: $vp-1200 - 1) {
    &--tablet-noshow {
      display: none;
    }
  }

  @media (max-width: $vp-768 - 1) {
    &--tablet-noshow,
    &--mobile-noshow {
      display: none;
    }
  }

  @media (hover: hover), screen and (min-width: 0\0) {
    &:hover,
    &:focus {
      & .coach__info {
        opacity: 1;
      }

      & h3 {
        display: none;
      }
    }
  }

  & img {
    width: 100%;
    height: 294px;
    object-fit: cover;
  }

  & h3 {
    position: absolute;
    bottom: 20px;
    width: 100%;

    margin: 0;
    font-size: 18px;
    color: $color-default-white;
    text-align: center;
  }
}

.coach__info {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  padding: 50px;
  opacity: 0;

  text-align: center;
  color: $color-default-white;
  background-color: rgba($color: $color-sapphire, $alpha: 0.89);
  transition: opacity $trans-default;

  @media (max-width: $vp-768 - 1) {
    padding: 48px 34px;
  }

  & p {
    margin: 0;
    font-size: 18px;
    font-weight: 700;
  }

  & ul {
    margin: 0;
    padding: 0;
    margin-top: 30px;
    padding-left: 10px;
    list-style-type: disc;

    font-size: 14px;
    text-align: left;
  }
}
