.contacts__wrapper {
  border-top: 1px solid $color-slate-grey;
  background-image: linear-gradient(to right, $color-sapphire 0% 50%, $color-default-white 50% 100%);

  @media (max-width: $vp-1200 - 1) {
    border: none;
    background-image: linear-gradient(to bottom, $color-sapphire 0% 50%, $color-default-white 50% 100%);
  }

  @media (max-width: $vp-768 - 1) {
    background-image: none;
  }
}

.contacts__group {
  display: grid;
  grid-template-columns: 1fr 1fr;

  @media (max-width: $vp-1200 - 1) {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }

  @media (max-width: $vp-768 - 1) {
    padding: 0;
    grid-template-rows: auto auto;
  }
}

.contacts {
  padding-top: 70px;
  padding-left: 120px;
  padding-bottom: 70px;

  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  column-gap: 60px;

  @media (max-width: $vp-1200 - 1) {
    padding-left: 88px;
    padding-right: 88px;
  }

  @media (max-width: $vp-768 - 1) {
    padding-right: 15px;
    padding-left: 15px;
    grid-template-columns: auto;
  }

  & h2 {
    grid-column: 1 / -1;
    margin: 0;
    margin-bottom: 50px;

    font-family: $ff-bebas;
    font-weight: 400;
    font-size: 49px;
    line-height: 49px;

    @media (max-width: $vp-1200 - 1) {
      font-size: 42px;
      line-height: 42px;
    }

    @media (max-width: $vp-768 - 1) {
      font-size: 32px;
      line-height: 32px;
    }
  }

  & b {
    @media (max-width: $vp-1200 - 1) {
      font-size: 20px;
    }
  }

  & p {
    margin: 0;
    font-size: 14px;

    @media (max-width: $vp-1200 - 1) {
      font-size: 18px;
    }
  }
}

.contacts__column {
  display: grid;
  grid-template-rows: auto auto;
  row-gap: 20px;

  &--left {
    // padding-right: 40px;
    border-right: 1px solid $color-slate-grey;

    @media (max-width: $vp-768 - 1) {
      border: none;
      margin-bottom: 20px;
    }
  }
}
