.contacts {
  border-top: 1px solid $color-slate-grey;
  background-image: linear-gradient(to right, $color-sapphire 0% 50%, $color-default-white 50% 100%);

  @include vp-1199 {
    border: none;
    background-image: none;
  }

  @include vp-767 {
    background-image: none;
  }
}

.contacts__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;

  @include vp-1199 {
    grid-template-columns: 1fr;
    grid-template-rows: minmax(324px, auto) minmax(351px, auto);
  }

  @include vp-767 {
    padding: 0;
    grid-template-rows: minmax(386px, auto) minmax(507px, auto);
  }
}

.contacts__user {
  position: relative;
  padding-top: 70px;
  padding-bottom: 70px;
  padding-right: 170px;

  color: $color-default-white;
  background-color: $color-sapphire;

  @include vp-1199 {
    padding-left: 88px;
    padding-right: 118px;

    &::before {
      content: "";
      position: absolute;
      z-index: -1;
      top: 0;
      left: calc((100vw - 100% + 90px) / 4 * -1);

      width: 100vw;
      height: 100%;
      background-color: $color-sapphire;
    }
  }

  @include vp-767 {
    padding-left: 15px;
    padding-right: 15px;
  }

  form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 30px;

    @include vp-1199 {
      width: 100%;
    }

    @include vp-767 {
      grid: none;
      gap: 36px;
    }
  }

  input {
    width: 100%;
    padding-bottom: 5px;

    color: $color-default-white;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid $color-slate-grey;

    &::placeholder {
      color: $color-default-white;
    }

    &:focus {
      outline: none;
      border-color: $color-default-white;
    }
  }

  label {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;

    white-space: nowrap;

    border: 0;

    clip: rect(0 0 0 0);
    clip-path: inset(100%);
  }

  .is-invalid input {
    border-color: $color-torch-red;
  }
}

.contacts__user-title {
  margin: 0;
  margin-bottom: 38px;

  font-family: $ff-bebas;
  font-weight: 400;
  font-size: 49px;
  line-height: 49px;

  @include vp-1199 {
    margin-bottom: 31px;
    font-size: 42px;
    line-height: 42px;
  }

  @include vp-767 {
    font-size: 32px;
    line-height: 32px;
  }
}

.contacts__user-button {
  grid-column: 1 / -1;
  padding: 16px;
}

.contacts__gym {
  padding-top: 70px;
  padding-left: 120px;
  padding-bottom: 65px;

  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  column-gap: 60px;

  @include vp-1199 {
    padding-left: 88px;
    padding-right: 88px;
    column-gap: 50px;
  }

  @include vp-767 {
    padding-right: 15px;
    padding-left: 15px;
    display: block;
  }
}

.contacts__gym-title {
  grid-column: 1 / -1;
  margin: 0;
  margin-bottom: 38px;

  font-family: $ff-bebas;
  font-weight: 400;
  font-size: 49px;
  line-height: 49px;

  @include vp-1199 {
    margin-bottom: 27px;
    font-size: 42px;
    line-height: 42px;
  }

  @include vp-767 {
    margin-bottom: 37px;
    font-size: 32px;
    line-height: 32px;
  }
}

.contacts__gym-subtitle {
  margin: 0;

  @include vp-1199 {
    margin-bottom: 10px;
    font-size: 20px;
  }
}

.contacts__gym-info {
  margin: 0;
  font-size: 14px;
  color: inherit;

  @include vp-1199 {
    margin-bottom: -10px;
    font-size: 18px;
  }
}

.contacts__gym-link {
  margin: 0;
  font-size: 14px;
  color: inherit;
  transition: opacity $trans-default;

  @media (hover: hover), screen and (min-width: 0\0) {
    &:hover,
    &:focus {
      opacity: 0.8;
    }
  }

  @include vp-1199 {
    margin-bottom: -10px;
    font-size: 18px;
  }
}

.contacts__gym-column {
  display: grid;
  grid-template-rows: auto auto;
  row-gap: 20px;

  &--left {
    border-right: 1px solid $color-slate-grey;

    @include vp-767 {
      border: none;
      margin-bottom: 35px;
      row-gap: 34px;
    }
  }
}
