.features {
  padding-top: 120px;
  padding-bottom: 120px;
  background-color: $color-ghost-white;

  @include vp-1199 {
    padding-top: 100px;
    padding-bottom: 94px;
  }

  @include vp-767 {
    padding-top: 70px;
    padding-bottom: 57px;
  }
}

.features__title {
  margin: 0;
  margin-bottom: 67px;

  font-family: $ff-bebas;
  font-weight: 400;
  font-size: 49px;
  line-height: 49px;
  text-align: center;
  letter-spacing: 1.5px;

  @include vp-1199 {
    margin-bottom: 46px;
    font-size: 42px;
    line-height: 42px;
  }

  @include vp-767 {
    margin-bottom: 44px;
    font-size: 32px;
    line-height: 32px;
  }
}

.features__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include vp-767 {
    padding: 0;
  }
}

.features__list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  display: grid;
  grid-template-columns: 340px 240px 340px;
  grid-template-rows: auto auto;
  column-gap: 60px;

  @include vp-1199 {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 239px auto;
    column-gap: 30px;
    row-gap: 42px;
  }

  @include vp-767 {
    grid-template-columns: auto;
    grid-template-rows: repeat(5, auto);
    row-gap: 32px;
  }
}
