.free-class {
  padding-top: 70px;
  padding-bottom: 70px;
  color: $color-default-white;

  @media (max-width: $vp-1200 - 1) {
    padding-left: 88px;
    padding-right: 88px;
  }

  @media (max-width: $vp-768 - 1) {
    padding-left: 15px;
    padding-right: 15px;
    background-color: $color-sapphire;
  }

  & h2 {
    margin: 0;
    margin-bottom: 50px;

    font-family: $ff-bebas;
    font-weight: 400;
    font-size: 49px;
    line-height: 49px;

    @media (max-width: $vp-1200 - 1) {
      font-size: 42px;
      line-height: 42px;
    }

    @media (max-width: $vp-768 - 1) {
      font-size: 32px;
      line-height: 32px;
    }
  }

  & form {
    width: 410px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 30px;

    @media (max-width: $vp-1200 - 1) {
      width: 472px;
    }

    @media (max-width: $vp-768 - 1) {
      width: 100%;
    }
  }

  & input {
    width: 100%;
    padding-bottom: 5px;

    color: $color-default-white;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid $color-slate-grey;

    &::placeholder {
      color: $color-default-white;
    }
  }
}

.free-class__button {
  grid-column: 1 / -1;
}
