.games {
  padding-top: 120px;
  padding-bottom: 120px;

  display: grid;
  grid-template-columns: 43% 57%;

  @include vp-1199 {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  @include vp-767 {
    padding-top: 70px;
    padding-bottom: 70px;

    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
}

.games__text {
  min-height: 500px;
  padding: 87px 78px;

  color: $color-default-white;
  background-color: $color-torch-red;

  @include vp-1199 {
    min-height: 292px;
    padding: 51px 45px;
  }
}

.games__wrapper {
  margin-bottom: 4px;
  display: grid;
  grid-template-columns: min-content auto;
  grid-template-rows: 1fr 1fr;
  column-gap: 56px;

  @include vp-1199 {
    margin-bottom: 0;
    column-gap: 31px;
  }

  @include vp-767 {
    column-gap: 29px;
  }
}

.games__title {
  margin: 0;
  grid-row: 1 / -1;
  grid-column: 1 / 1;

  font-family: $ff-bebas;
  font-weight: 400;
  font-size: 90px;
  line-height: 90px;
  letter-spacing: 1.5px;

  @include vp-1199 {
    font-size: 52px;
    line-height: 52px;
  }
}

.games__subtitle {
  margin: 0;
  margin-bottom: 46px;
  font-size: 18px;
  font-weight: 400;

  @include vp-1199 {
    margin-top: -5px;
    margin-bottom: 27px;
    font-size: 12px;
  }
}

.games__group-title {
  display: block;
  margin-bottom: 5px;

  font-size: 18px;
  line-height: 1;

  @include vp-1199 {
    margin-bottom: 2px;
    font-size: 12px;
  }
}

.games__group-info {
  position: relative;
  margin: 0;
  padding-top: 15px;
  display: inline-block;
  vertical-align: middle;
  min-width: 64px;

  font-size: 40px;
  font-weight: 700;

  border-top: 1px solid $color-default-white;

  @include vp-1199 {
    margin: 0;
    padding-top: 4px;
    min-width: 42px;
    font-size: 24px;
  }
}

.games__group-subtext {
  position: absolute;
  top: 10px;
  left: 25px;

  font-size: 14px;
  line-height: 1.2;
  font-weight: 400;

  @include vp-1199 {
    top: 6px;
    left: 15px;
    font-size: 10px;
  }
}

.games__button {
  padding: 24px;
  width: 100%;

  @include vp-1199 {
    padding: 11px;
    border-width: 2px;
  }
}

.games__image {
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
  }
}
