.gym {
  position: relative;
  padding-top: 120px;
  padding-bottom: 235px;
  display: flex;
  justify-content: space-between;

  @media (max-width: $vp-1200 - 1) {
    padding-top: 100px;
    padding-bottom: 183px;
    flex-direction: column;
    align-items: center;
  }

  @media (max-width: $vp-768 - 1) {
    padding: 0;
    padding-top: 70px;
    padding-bottom: 70px;
  }
}

.gym__text {
  margin-left: 40px;
  margin-right: 85px;

  @media (max-width: $vp-1200 - 1) {
    margin: 0;
    text-align: center;
  }

  @media (max-width: $vp-768 - 1) {
    padding: 0 15px;
    text-align: left;
  }

  & h2 {
    margin: 0;
    margin-top: 50px;
    margin-bottom: 25px;

    font-family: $ff-bebas;
    font-weight: 400;
    font-size: 49px;
    line-height: 49px;
    text-transform: uppercase;

    @media (max-width: $vp-1200 - 1) {
      margin: 0;
      margin-bottom: 25px;

      font-size: 42px;
      line-height: 42px;
    }

    @media (max-width: $vp-768 - 1) {
      margin-bottom: 20px;
      font-size: 32px;
      line-height: 32px;
    }
  }

  & b {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 55px;

    font-size: 18px;
    line-height: 1.5;

    @media (max-width: $vp-1200 - 1) {
      margin-bottom: 50px;
    }

    @media (max-width: $vp-768 - 1) {
      margin-bottom: 40px;
    }
  }

  & p {
    margin: 0;
    margin-bottom: 5px;

    @media (max-width: $vp-1200 - 1) {
      margin: 0 auto;
      margin-bottom: 50px;
      max-width: 500px;
    }
  }
}

.gym__hidden {
  @media (max-width: $vp-1200 - 1) {
    display: none;
  }
}

.gym__image {
  flex-shrink: 0;

  @media (max-width: $vp-1200 - 1) {
    & img {
      width: 678px;
      height: 345px;
    }
  }

  @media (max-width: $vp-768 - 1) {
    & img {
      width: 100%;
      height: 313px;
      object-fit: cover;
    }
  }
}

.gym__video {
  position: absolute;
  bottom: 120px;
  right: 360px;

  width: 364px;
  height: 228px;

  @media (max-width: $vp-1200 - 1) {
    bottom: 100px;
    right: auto;
    left: 50%;

    width: 266px;
    height: 167px;
    transform: translateX(-50%);
  }

  @media (max-width: $vp-768 - 1) {
    position: relative;
    bottom: auto;
    left: auto;
    transform: none;

    margin-top: 40px;
    width: 100%;
  }
}

.gym__video-preview img {
  object-fit: cover;

  @media (max-width: $vp-1200 - 1) {
    width: 100%;
    height: 167px;
  }
}

.gym__play-btn {
  position: absolute;
  top: 50%;
  left: 50%;

  padding: 0;
  width: 100px;
  height: 100px;

  border: none;
  background-color: transparent;
  background-image: url(../../img/play.svg);
  transform: translate(-50%, -50%);
  cursor: pointer;

  transition: transform $trans-default;

  @media (hover: hover), screen and (min-width: 0\0) {
    &:hover,
    &:focus {
      transform: translate(-50%, -50%) scale(1.2);
    }
  }

  @media (max-width: $vp-1200 - 1) {
    width: 73px;
    height: 73px;
    background-size: 73px 73px;
  }
}
