.hero {
  display: flex;

  @media (max-width: $vp-1200 - 1) {
    justify-content: space-around;
  }

  @media (max-width: $vp-768 - 1) {
    flex-direction: row;
    justify-content: center;
  }
}

.hero__text {
  margin-right: 64px;
  margin-top: 122px;
  width: 377px;

  text-align: right;
  color: $color-default-white;

  @media (max-width: $vp-1200 - 1) {
    margin-right: 30px;
    margin-top: 56px;
    width: 324px;
  }

  @media (max-width: $vp-768 - 1) {
    margin: 0;
    width: 100%;
  }
}

.hero__text-wrapper {
  position: relative;
  margin-bottom: 80px;

  @media (max-width: $vp-1200 - 1) {
    margin-bottom: 60px;
  }

  @media (max-width: $vp-768 - 1) {
    max-width: 324px;
    margin-left: auto;
    margin-right: auto;
  }
}

.hero__city {
  font-family: $ff-bebas;
  font-size: 49px;
  line-height: 59px;
  font-weight: 400;
  text-transform: uppercase;

  @media (max-width: $vp-1200 - 1) {
    font-size: 34px;
    line-height: 41px;
  }

  @media (max-width: $vp-768 - 1) {
    font-size: 28px;
    line-height: 34px;
  }
}

.hero__title {
  margin: 0;

  font-family: $ff-bebas;
  font-size: 109px;
  line-height: 109px;
  font-weight: 700;
  text-transform: uppercase;

  @media (max-width: $vp-1200 - 1) {
    font-size: 86px;
    line-height: 86px;
  }

  @media (max-width: $vp-768 - 1) {
    font-size: 78px;
    line-height: 78px;
  }
}

.hero__services {
  position: absolute;
  bottom: 30px;
  left: 0;

  margin: 0;
  padding: 0;
  list-style-type: none;

  font-size: 14px;
  line-height: 1.5;

  @media (max-width: $vp-1200 - 1) {
    bottom: 15px;
  }
}

.hero__button {
  min-width: 230px;

  @media (max-width: $vp-768 - 1) {
    width: 100%;
  }
}

.hero__image {
  flex-shrink: 0;

  @media (max-width: $vp-1200 - 1) {
    & img {
      width: 324px;
      height: 390px;
    }
  }

  @media (max-width: $vp-768 - 1) {
    display: none;
  }
}

.hero__social {
  margin: 0;
  padding: 0;

  margin-left: auto;
  margin-bottom: 30px;
  align-self: flex-end;

  list-style-type: none;

  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;

  & a {
    display: inline-block;
    vertical-align: middle;
    padding: 10px;
    color: $color-default-white;
    transition: opacity $trans-default;

    @media (hover: hover), screen and (min-width: 0\0) {
      &:hover,
      &:focus {
        opacity: 0.8;
      }
    }
  }

  @media (max-width: $vp-1200 - 1) {
    display: none;
  }
}
