.main-footer {
  padding: 40px 0;
  color: $color-default-white;
  background-color: $color-black-russian;

  @media (max-width: $vp-1200 - 1) {
    padding: 45px 0;
  }

  @media (max-width: $vp-768 - 1) {
    padding: 50px 0;
  }
}

.main-footer__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media (max-width: $vp-768 - 1) {
    position: relative;
    flex-direction: column;
    align-items: flex-start;
  }
}

.main-footer__logo {
  @media (max-width: $vp-768 - 1) {
    position: absolute;
  }
}
