.main-header {
  padding-top: 30px;
  min-height: 658px;

  background: conic-gradient(from 130.31deg at 16.03% 39.06%, #B80027 -46.69deg, #003D85 32.24deg, #B80027 313.31deg, #003D85 392.24deg);

  @media (max-width: $vp-1200 - 1) {
    padding-top: 40px;
    min-height: 554px;
  }

  @media (max-width: $vp-768 - 1) {
    padding-top: 20px;
    min-height: 491px;
  }
}
