.membership {
  z-index: 1;
  position: relative;
  padding-top: 120px;
  padding-bottom: 120px;
  text-align: center;

  background-color: $color-ghost-white;

  &::after {
    position: absolute;
    z-index: 0;
    content: "";
    bottom: -150px;
    right: 0;

    width: 287px;
    height: 494px;

    background-image: url("../../img/weights.png");
    background-repeat: no-repeat;
    background-position: center;

    @media (min-resolution: 2dppx) and (min-width: $vp-1200) {
      background-image: url("../../img/weights@2x.png");
      background-size: 287px auto;
    }
  }

  @media (max-width: $vp-1200 - 1) {
    padding-top: 100px;
    padding-bottom: 100px;

    &::after {
      bottom: -130px;
      width: 347px;
      height: 444px;
      background-image: url("../../img/weights_tablet.png");

      @media (min-resolution: 2dppx) {
        background-image: url("../../img/weights_tablet@2x.png");
        background-size: 347px auto;
      }
    }
  }

  @media (max-width: $vp-768 - 1) {
    padding-top: 70px;
    padding-bottom: 70px;

    &::after {
      display: none;
    }
  }
}

.membership__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.membership__title {
  margin: 0;
  margin-bottom: 53px;

  text-align: center;
  font-family: $ff-bebas;
  font-weight: 400;
  font-size: 49px;
  line-height: 49px;
  text-transform: uppercase;

  @media (max-width: $vp-1200 - 1) {
    margin-bottom: 45px;

    font-size: 42px;
    line-height: 42px;
  }

  @media (max-width: $vp-768 - 1) {
    margin-bottom: 35px;

    font-size: 32px;
    line-height: 32px;
  }
}

.membership__controls {
  margin-bottom: 40px;
  border-bottom: 2px solid rgba(120, 120, 120, 0.2);

  @media (max-width: $vp-1200 - 1) {
    margin-bottom: 45px;
  }

  @media (max-width: $vp-768 - 1) {
    margin-bottom: 35px;
  }
}

.membership__control {
  position: relative;
  padding: 0;
  padding-bottom: 20px;

  font-size: 20px;
  line-height: 1.5;

  opacity: 0.5;
  border: none;
  background-color: transparent;
  cursor: pointer;

  &:not(:last-of-type) {
    margin-right: 46px;
  }

  @media (max-width: $vp-1200 - 1) {
    font-size: 18px;

    &:not(:last-of-type) {
      margin-right: 54px;
    }
  }

  @media (max-width: $vp-768 - 1) {
    font-size: 16px;

    &:not(:last-of-type) {
      margin-right: 40px;
    }
  }

  &--current {
    opacity: 1;

    &::after {
      position: absolute;
      content: "";
      bottom: -2px;
      left: 0;

      height: 2px;
      width: 100%;
      background-color: $color-torch-red;
    }
  }
}

.membership__tab {
  display: flex;
  gap: 40px;

  @media (max-width: $vp-1200 - 1) {
    flex-direction: column;
  }
}
