.membership {
  z-index: 1;
  position: relative;
  padding-top: 120px;
  padding-bottom: 120px;
  text-align: center;

  background-color: $color-ghost-white;

  &::after {
    position: absolute;
    z-index: 0;
    content: "";
    bottom: -93px;
    right: calc((100vw - 1200px - 385px) / 2);

    width: 322px;
    height: 385px;

    background-image: url("../img/weights.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 322px auto;
    transform: rotate(150deg);

    @include retina {
      background-image: url("../img/weights@2x.png");
    }

    @include vp-1199 {
      bottom: -76px;
      right: calc((100vw - 783px) / 2);

      width: 289px;
      height: 345px;

      background-size: 289px auto;
    }

    @include vp-767 {
      display: none;
    }
  }

  @include vp-1199 {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  @include vp-767 {
    padding-top: 70px;
    padding-bottom: 70px;
  }
}

.membership__wrapper {
  display: flex;
  flex-direction: column;
}

.membership__title {
  margin: 0;
  margin-bottom: 34px;

  text-align: center;
  font-family: $ff-bebas;
  font-weight: 400;
  font-size: 49px;
  line-height: 49px;
  letter-spacing: 1.5px;
  text-transform: uppercase;

  @include vp-1199 {
    margin-bottom: 29px;

    font-size: 42px;
    line-height: 42px;
  }

  @include vp-767 {
    margin-bottom: 20px;

    font-size: 32px;
    line-height: 32px;
  }
}

.membership__controls {
  margin-bottom: 40px;
  border-bottom: 2px solid rgba(120, 120, 120, 0.2);
  align-self: center;

  @include vp-1199 {
    margin-bottom: 45px;
  }

  @include vp-767 {
    margin-bottom: 35px;
  }
}

.membership__control {
  position: relative;
  padding: 0;
  padding-bottom: 10px;

  font-size: 20px;
  line-height: 1.5;

  opacity: 0.5;
  border: none;
  background-color: transparent;
  cursor: pointer;
  user-select: none;

  &:not(:last-of-type) {
    margin-right: 46px;
  }

  @include vp-1199 {
    font-size: 18px;

    &:not(:last-of-type) {
      margin-right: 54px;
    }
  }

  @include vp-767 {
    padding-bottom: 13px;
    font-size: 16px;

    &:not(:last-of-type) {
      margin-right: 40px;
    }
  }

  &.is-active {
    opacity: 1;

    &::after {
      position: absolute;
      content: "";
      bottom: -2px;
      left: 0;

      height: 2px;
      width: 100%;
      background-color: $color-torch-red;
    }
  }
}

.membership__tabs {
  display: flex;
  align-items: center;
  justify-content: center;
}

.membership__tab {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 31%);
  gap: 3.4%; // 40px

  @include vp-1199 {
    width: auto;
    grid-template-columns: auto;
    grid-template-rows: repeat(3, auto);
    gap: 40px;
  }

  @include vp-767 {
    gap: 35px;
  }
}

.membership__card {
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 448px;
  padding: 55px 35px;

  background-color: $color-default-white;
  cursor: pointer;

  border: 7px solid transparent;
  transition: border-image-source $trans-default;

  @include vp-1199 {
    width: 442px;
  }

  @include vp-767 {
    width: 290px;
    min-height: 384px;
    padding: 42px 35px;
  }

  &--current,
  &:hover {
    border-image: $main-gradient;
    border-image-slice: 1;

    .membership__card-button {
      color: $color-default-white;
      border-color: transparent;
      background: $main-gradient;
    }
  }
}

.membership__card-title {
  margin: 0;
  margin-bottom: 9px;
  font-size: 26px;
  line-height: 29px;

  @include vp-767 {
    font-size: 22px;
    line-height: 24px;
  }
}

.membership__card-type {
  display: block;
  margin-bottom: 80px;

  @include vp-1199 {
    margin-bottom: 82px;
  }

  @include vp-767 {
    margin-bottom: 67px;
  }
}

.membership__card-price {
  z-index: 1;
  position: relative;
  margin: 0;
  margin-bottom: 49px;

  color: $color-egyptian-blue;
  font-weight: 700;
  font-size: 60px;
  line-height: 1;

  @include vp-767 {
    margin-bottom: 13px;
    font-size: 48px;
  }

  &::before {
    position: absolute;
    z-index: -1;
    content: attr(data-price);
    bottom: 0;
    left: 50%;

    color: $color-whisper;
    font-size: 100px;
    line-height: 1;
    transform: translateX(-50%);

    @include vp-767 {
      font-size: 80px;
    }
  }

  svg {
    @include vp-767 {
      width: 24px;
      height: 33px;
    }
  }
}

.membership__card-button {
  display: block;
  padding: 24px;
  min-width: 206px;

  font-size: 12px;
  line-height: 14px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: $color-sapphire;

  border: 2px solid $color-sapphire;
  transition: opacity $trans-default, color $trans-default;

  @media (hover: hover), screen and (min-width: 0\0) {
    &:hover,
    &:focus {
      opacity: 0.8;
    }
  }

  @include vp-1199 {
    align-self: center;
    min-width: 206px;
  }

  @include vp-767 {
    margin-top: 29px;
  }
}
