.promo {
  padding-top: 120px;
  padding-bottom: 120px;

  @include vp-1199 {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  @include vp-767 {
    padding-top: 70px;
    padding-bottom: 70px;
  }
}

.promo__title {
  margin: 0;
  margin-bottom: 51px;

  font-family: $ff-bebas;
  font-weight: 400;
  font-size: 49px;
  line-height: 1;
  text-align: center;
  letter-spacing: 1.5px;

  @include vp-1199 {
    margin-bottom: 39px;
    font-size: 42px;
  }

  @include vp-767 {
    margin-bottom: 42px;
    font-size: 32px;
  }
}

.promo__wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr 1fr;
  gap: 40px;

  @include vp-1199 {
    grid-template-rows: repeat(2, auto);
    gap: 30px;
  }

  @include vp-767 {
    grid-template-columns: auto;
    grid-template-rows: repeat(3, auto);
  }
}

.promo__block {
  grid-row: 1 / -1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  @include vp-1199 {
    grid-column: 1 / -1;
    grid-row: 1 / 1;
    grid-template-columns: 41% 59%;
  }

  @include vp-767 {
    grid-template-columns: auto;
    grid-template-rows: 299px auto;
  }
}

.promo__block-text {
  padding: 35px 44px;

  display: flex;
  flex-direction: column;

  color: $color-default-white;
  background-color: $color-torch-red;

  @include vp-767 {
    text-align: center;
  }
}

.promo__block-period {
  display: block;
  font-size: 28px;
  line-height: 1.5;
  font-weight: 700;
}

.promo__block-price {
  display: block;
  margin-bottom: 13px;

  font-size: 70px;
  line-height: 1;
  font-weight: 700;

  @include vp-1199 {
    margin-top: -4px;
    margin-bottom: 17px;
  }

  @include vp-767 {
    margin-bottom: 12px;
  }
}

.promo__block-description {
  margin: 0;
  margin-bottom: 20px;

  font-size: 18px;
  line-height: 1.4;
}

.promo__block-link {
  align-self: start;
  margin-top: auto;
  margin-bottom: 9px;
  padding-bottom: 3px;

  color: inherit;
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  text-transform: uppercase;

  border-bottom: 1px solid $color-default-white;
  transition: opacity $trans-default;

  @media (hover: hover), screen and (min-width: 0\0) {
    &:hover,
    &:focus {
      opacity: 0.8;
    }
  }

  @include vp-767 {
    align-self: center;
  }
}

.promo__block-image {
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;

    @include vp-1199 {
      height: 462px;
    }

    @include vp-767 {
      height: 100%;
    }
  }
}

.promo__card {
  padding: 28px;
  padding-top: 18px;

  display: flex;
  flex-direction: column;

  color: $color-resolution-blue;
  border: 7px solid $color-transparent;
  border-image: $main-gradient;
  border-image-slice: 1;

  @include vp-1199 {
    min-height: 211px;
  }

  @include vp-767 {
    padding-top: 29px;
    text-align: center;
  }
}

.promo__card-title {
  margin: 0;
  margin-bottom: 2px;

  font-size: 26px;
  line-height: 1.5;
}

.promo__card-text {
  margin: 0;
  margin-bottom: 20px;

  @include vp-767 {
    margin-bottom: 23px;
  }
}

.promo__card-link {
  align-self: start;
  margin-top: auto;
  padding-bottom: 3px;

  color: inherit;
  font-size: 12px;
  line-height: 14px;
  font-weight: 700;
  text-transform: uppercase;

  border-bottom: 1px solid $color-resolution-blue;
  transition: opacity $trans-default;

  @media (hover: hover), screen and (min-width: 0\0) {
    &:hover,
    &:focus {
      opacity: 0.8;
    }
  }

  @include vp-767 {
    margin-top: 0;
    align-self: center;
  }
}
