.social__list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  display: flex;
  align-items: center;

  @media (max-width: $vp-1200 - 1) {
    gap: 20px;
  }

  @media (max-width: $vp-768 - 1) {
    gap: 35px;
  }
}

.social__link {
  display: block;
  padding: 6px 9px;
  transition: opacity $trans-default;

  @media (hover: hover), screen and (min-width: 0\0) {
    &:hover,
    &:focus {
      opacity: 0.8;
    }
  }

  @media (max-width: $vp-1200 - 1) {
    padding: 10px 0;
  }

  @media (max-width: $vp-768 - 1) {
    &--vk img {
      width: 32px;
    }

    &--insta img {
      width: 27px;
    }

    &--fb img {
      width: 14px;
    }
  }
}
